#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

06/

#############
## Web server stuff
#############

# Config files
[Ww]eb.config
aspnet_client/
srvonly/


*.bak

.*/
