body {
    background:#777;
    background-image:none;
}
.cdown {
    position:relative;
    margin:auto;
    height:auto;
    margin-top:10%;
    border:0;
    text-align:center;
    padding:0;
}
.cdown h2 {
    font-size:72px;
    margin:auto;
    max-width:80%;
    min-width:70%;
    text-shadow:3px 3px 6px #111;
}
.cdown button {
    box-shadow:2px 2px 3px rgba(0,0,0,0.2);
}
.cdown p.main {
    color:#eee;
}
.cdown * {
    color:#eee;
    text-align:center;
}
.cdown button {
    color:#333;
    margin:0 6px;
    padding:8px 12px;
    transition:0.2s all;
    box-shadow:none;
    font-size:18px;
}
.cdown button:hover, .cdown button.toggle-on:hover:after {
    box-shadow:inset 0px -4px 0px rgba(0,0,0,0.1);
}
.cdown button:active, .cdown button.toggle-on:active:after {
    box-shadow:inset 0px 4px 0px rgba(0,0,0,0.1);
}
.cdown button.toggle:after {
    padding:8px 12px;
    left:12px;
}
.cdown h3 {
    text-align:center;
    font-size:36px;
    display:inline-block;
    padding:0 12px;
}
.cdown h3 a {
    color:#5df;
}
.cdown h3 a:hover {
    color:#fff;
}
.cdown input {
    color:#333;
}
.cdown input.inactive {
    color:#777;
}
.cdset {
    background:#333;
    padding:12px;
}
.cdset input {
    width:64px;
    height:32px;
    font-size:20px;
}
#cdset {
    background:#333;
    padding:8px;
}
#cd-fn-set {
    background:#333;
    padding:8px;
    margin-top:0;
}
#cd-fn-set input:not(#cdfn-name) {
    width:100px;
}
#cd-fn-set h3 {
    text-align:left;
}
#cd-controls {
    display:inline-block;
    padding:8px;
}
#cd-controls h3 {
    font-size:32px;
    text-shadow:3px 3px 2px #555;
}
#cd-controls button {
    font-size:18px;
}
#cdtext-share {
    display:none;
}
#cdsetname, #cdfn-name, #cup-name {
    font-size:24px;
    width:600px;
}
#cd-text-container {
    width:auto;
    background:#444;
    padding:24px;
    box-shadow:inset 0px 0px 3px 4px #222;
}