#trig-canvas {
    position:absolute;
    top:0;
    right:0;
}
#gl-canvas {
    background:linear-gradient(#114, #11f);
}
.cvs-overlay-cont {
    position:absolute;
    top:0;
    left:0;
    width:564px;
    height:564px;
    line-height:564px;
    text-align:center;
    background:linear-gradient(#050522, rgba(5, 5, 136, 0.8));
    text-overflow:ellipsis;
    overflow:hidden;
    padding:18px 24px;
}
.cvs-overlay {
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
    font-family:"Raleway";
    font-size:48px;
    font-weight:bold;
    color:#fff;
}
#tgl-2dcanvas {
    position:absolute;
    top:0;
    left:0;
    pointer-events:none;
}
