#content {
    width:55%;
}
#resume {
    position:absolute;
    padding:18px 24px;
    background:#f2f2f2;
    box-shadow:4px 4px 0px rgba(0,0,0,0.1);
}
@media (max-width:700px) {
    #content { width:90%; }
}
#resume p {
    font-size:20px;
}
#resume section {
    margin-top:16px;
}