body {
    background:#f2f2f2;
    color:#333;
    padding:12px 16px;
}
pre, pre * {
    font-family:"Consolas", monospace;
}
/* ==== */
/* TEXT */
/* ==== */
pre ul {
    display:inline-block;
}
pre ul li {
    display:inline-block;
    margin-left:0;
}
pre ul li:after {
    content:", ";
}
pre ul li:last-child:after {
    content:"";
}
/* ====== */
/* LAYOUT */
/* ====== */
#status {
    margin-top:64px;
}
.tab, .s-tab {
    text-decoration:underline;
    cursor:pointer;
}
.tab-current, .s-tab-current {
    text-decoration:none;
    cursor:initial;
}
.r { float:right; }
.ib { display:inline-block }
/* ===== */
/* ICONS */
/* ===== */
i {
    font-style:normal;
    font-weight:bold;
}
i.icon-resource { color:brown; }
i.icon-money { color:gold; }
i.icon-popular { color:cyan; }