.plane-container {
    overflow:hidden;
}
body {
    background:#f2f2f2;
}
#main-plane {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#f2f2f2;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    cursor:move;
    cursor:-webkit-grab;
    cursor:-moz-grab;
    cursor:grab;
    transition:0s all;
}
#main-plane:active {
    cursor:-webkit-grabbing;
    cursor:-moz-grabbing;
    cursor:grabbing;
}
#main-plane:active::before {
    content:"";
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transform:scale(4);
}

svg.plane polyline, svg.plane path {
    stroke:#333;
    stroke-linecap:square;
    fill:none;
}

svg.plane .axis {
    stroke-width:6;
    stroke:#333;
}

svg.plane .scale-mark {
    stroke-width:4;
}
svg.plane .minor-scale-mark {
    stroke-width:1;
    color:#ccc;
}

svg.plane .scale-label {
    font-size:20px;
}
svg.plane .grid-line {
    stroke:rgba(200,200,200,0.4);
    stroke-width:2;
}

svg.plane text {
    stroke:none;
}

svg.plane .block-margin {
    fill:#eee;
    stroke:none;
}

svg.plane .functions {
    stroke-width:4;
    cursor:pointer;
}

svg.plane .derivative {
    stroke-dasharray: 2, 10;
}

svg.plane .integral {
    opacity:0.6;
}

svg.plane .selected {
    stroke-width:8px;
    transition:0.2s all;
}

.top-bar {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:58px;
    padding:6px 12px;
    background:#eee;
    box-shadow:0 2px 8px 0 rgba(100,100,100,0.5);
    vertical-align:middle;
    z-index:99;
}
body.no-bar .top-bar {
    transform:translateY(-100%);
}
.plane-container {
    position:absolute;
    top:52px;
    left:0;
    right:0;
    bottom:0;
}
body.no-bar .plane-container {
    top:0;
}
.zoom-rocker {
    font-size:0;
}
.zoom-rocker button {
    font-size:0;
    position:relative;
    height:100%;
}
.zoom-rocker button::before,
.zoom-rocker button::after {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    background:#333;
}
.zoom-out {
    padding:6px 32px 6px 18px;
}
.zoom-out::before {
    content:"";
    left:18px;
    height:4px;
    width:12px;
}
.zoom-in {
    padding:6px 18px 6px 32px;
}
.zoom-in::before {
    content:"";
    right:18px;
    height:4px;
    width:12px;
}
.zoom-in::after {
    content:"";
    right:22px;
    height:12px;
    width:4px;
}
.top-bar .separator {
    margin:0 12px;
    width:2px;
    background:#aaa;
    height:60%;
    display:inline-block;
    position:absolute;
    top:20%;
}
.top-bar .separator + * {
    margin-left:32px;
}
.top-bar > span::before,
.top-bar > span::after {
    content:"";
    display:inline-block;
}
.icon svg {
    height:32px;
    width:32px;
    fill:#555;
    transition:0.2s all;
}
.icon.toggle, .icon.up-down {
    padding-right:10px;
}
.icon.toggle svg, .icon.up-down {
    fill:#aaa;
}
.icon.on svg {
    fill:#2bf;
}
.icon.toggle::after, .icon.up-down::after {
    display:none;
}
.top-bar * {
    vertical-align:top;
}
.top-bar button {
    background:none;
    position:relative;
    transition:0.2s all, 0s box-shadow, 0s background;
}
.top-bar button:hover {
    box-shadow:1px 1px 2px 0 #aaa;
    background:#eee;
}
.top-bar button:active {
    box-shadow:inset 1px 1px 2px 0 #aaa;
    background:#ddd;
}

.top-bar [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    margin: 8px auto;
    top: -100%;
    opacity: 0;
    background: #555;
    padding: 6px 10px;
    white-space: nowrap;
    color: #eee;
    text-align: center;
    transform: translate(-50%);
    transition: 0.2s all;
    pointer-events: none;
    display:block;
    bottom: initial;
    right: initial;
    width: auto;
    font-size: inherit;
    line-height: inherit;
    box-shadow:none;
}

.top-bar [data-tooltip].on::after {
    background:#555;
    box-shadow:none;
}

.top-bar [data-tooltip]::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 8px;
    opacity: 0;
    border-style:solid;
    border-color:transparent transparent #555 transparent;
    border-width:0 8px 8px 8px;
    transition: 0.2s all;
    pointer-events: none;
    display:block;
}

.top-bar [data-tooltip]:hover::before,
.top-bar [data-tooltip]:hover::after {
    top: 100%;
    opacity: 1;
}

.top-bar .styled-select {
    top:.2em;
    position:relative;
    margin-left:18px;
}

.styled-select .hidden {
    color:#555;
    background:#ccc;
}

.info-box {
    position:fixed;
    top:58px;
    right:0;
    background:#eee;
    z-index:98;
    box-shadow:0 2px 8px 0 rgba(100,100,100,0.5);
    text-align:right;
    display:none;
}

.info-box-view-select li {
     list-style-type: none;
     display: inline-block;
     padding: 8px 12px;
     cursor: pointer;
 }

ul.info-box-view-select {
    display: flex;
    width: 100%;
    background: #555;
    color: #eee;
    justify-content: flex-end;
}

.info-box-view {
    padding: 12px 48px;
}

.info-box-view-select li.active {
    border-bottom: 4px solid #2bf;
    margin-bottom: -4px;
    background: #333;
}

.info-box-toggle svg {
    transform:rotate(90deg);
}

.info-box label {
    vertical-align:top;
    padding:4px 8px;
    margin:4px;
    display:inline-block;
    cursor:auto;
}

.info-box .function-class:not(.show),
.info-box .function-inputs:not(.show),
.info-box .info-box-view:not(.show),
.info-box .type-selection-needed:not(.type-selection-fulfilled),
.fn-defined-only:not(.fn-defined) {
    display:none;
}

.info-box li[rel=".edit-function-view"]:not(.active),
.info-box li[rel=".edit-plot-view"]:not(.active) {
    display:none;
}

.styled-select ul {
    position:absolute;
    right:0;
}
.styled-select ul li {
    white-space:nowrap;
}

.styled-select li[rel="new"] {
    display:none;
}

.align-top {
    vertical-align:top;
}

.evaluate-expression {
    font-family:monospace;
    margin:0 8px;
}

input[type="number"] {
    width:60px;
}

.variable-controls,
.domain-controls {
    display:none;
}

.variable-demo {
    color:#aaa;
    padding-left:0;
}

.hide {
    display:none;
}
