.plane-container {
    overflow:hidden;
}
body {
    background:#f2f2f2;
    overflow:hidden;
}
#main-plane {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#f2f2f2;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    cursor:move;
    cursor:-webkit-grab;
    cursor:-moz-grab;
    cursor:grab;
    transition:0s all;
}
#main-plane:active {
    cursor:-webkit-grabbing;
    cursor:-moz-grabbing;
    cursor:grabbing;
}
#main-plane:active::before {
    content:"";
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transform:scale(4);
}

svg.plane polyline, svg.plane path {
    stroke:#333;
    stroke-linecap:square;
    fill:none;
}

svg.plane .axis {
    stroke-width:6;
    stroke:#333;
}

svg.plane .scale-mark {
    stroke-width:4;
}
svg.plane .minor-scale-mark {
    stroke-width:1;
    color:#ccc;
}

svg.plane .scale-label {
    font-size:20px;
}
svg.plane .grid-line {
    stroke:rgba(200,200,200,0.4);
    stroke-width:2;
}

svg.plane text {
    stroke:none;
}

svg.plane .block-margin {
    fill:#eee;
    stroke:none;
}

svg.plane .functions, svg.plane .plots {
    stroke-width:4;
    cursor:pointer;
}

svg.plane .derivative {
    stroke-dasharray: 2, 10;
}

svg.plane .integral {
    opacity:0.6;
}

svg.plane .selected {
    stroke-width:8px;
    transition:0.2s all;
}

.bar {
    position:absolute;
    left:0;
    right:0;
    height:58px;
    padding:6px 12px;
    background:#eee;
    vertical-align:middle;
    z-index:99;
}
.top-bar {
    top:0;
    box-shadow:0 2px 8px 0 rgba(100,100,100,0.5);
}
.bottom-bar {
    bottom:0;
    box-shadow:0 -2px 8px 0 rgba(100,100,100,0.5);
}
body.no-bar .bar {
    transform:translateY(-100%);
}
body.no-bar .bottom-bar {
    transform:translateY(100%);
}
.plane-container {
    position:absolute;
    top:52px;
    left:0;
    right:0;
    bottom:0;
}
body.no-bar .plane-container {
    top:0;
}
.zoom-rocker {
    font-size:0;
}
.zoom-rocker button {
    font-size:0;
    position:relative;
    height:100%;
}
.zoom-rocker button::before,
.zoom-rocker button::after {
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    background:#333;
}
.zoom-out {
    padding:6px 32px 6px 18px;
}
.zoom-out::before {
    content:"";
    left:18px;
    height:4px;
    width:12px;
}
.zoom-in {
    padding:6px 18px 6px 32px;
}
.zoom-in::before {
    content:"";
    right:18px;
    height:4px;
    width:12px;
}
.zoom-in::after {
    content:"";
    right:22px;
    height:12px;
    width:4px;
}
.bar .separator {
    margin:0 12px;
    width:2px;
    background:#aaa;
    height:60%;
    display:inline-block;
    position:absolute;
    top:20%;
}
.bar .separator + * {
    margin-left:32px;
}
.bar > span::before,
.bar > span::after {
    content:"";
    display:inline-block;
}
.icon svg {
    height:32px;
    width:32px;
    fill:#555;
    transition:0.2s all;
}
.icon.toggle, .icon.up-down {
    padding-right:10px;
}
.icon.toggle svg, .icon.up-down {
    fill:#aaa;
}
.icon.on svg {
    fill:#2bf;
}
.icon.toggle::after, .icon.up-down::after {
    display:none;
}
.bar * {
    vertical-align:top;
}
.bar button,
.bar .button-like {
    background:none;
    position:relative;
    transition:0.2s all, 0s box-shadow, 0s background;
}
.bar button:hover,
.bar .button-like:hover {
    box-shadow:1px 1px 2px 0 #aaa;
    background:#eee;
}
.bar button:active,
.bar .button-like:active{
    box-shadow:inset 1px 1px 2px 0 #aaa;
    background:#ddd;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    margin: 8px auto;
    top: -100%;
    opacity: 0;
    background: #555;
    padding: 6px 10px;
    white-space: nowrap;
    color: #eee;
    text-align: center;
    transform: translate(-50%);
    transition: 0.2s all;
    pointer-events: none;
    display:block;
    bottom: initial;
    right: initial;
    width: auto;
    font-size: inherit;
    line-height: inherit;
    box-shadow:none;
}

*[data-tooltip].on::after,
*[data-tooltip].on:hover::after {
    background:#555;
    box-shadow:none;
}

*[data-tooltip]::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto;
    width: 8px;
    opacity: 0;
    border-style:solid;
    border-color:transparent transparent #555 transparent;
    border-width:0 8px 8px 8px;
    transition: 0.2s all;
    pointer-events: none;
    display:block;
}

*.tooltip-up[data-tooltip]::before {
    border-color:#555 transparent transparent transparent;
    border-width:8px 8px 0 8px;
}

*[data-tooltip]:hover::before,
*[data-tooltip]:hover::after {
    top: 100%;
    opacity: 1;
}
*[data-tooltip]:hover::after,
*[data-tooltip].on:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    margin: 8px auto;
    background: #555;
    padding: 6px 10px;
    white-space: nowrap;
    color: #eee;
    text-align: center;
    transform: translate(-50%);
    transition: 0.2s all;
    pointer-events: none;
    display:block;
    bottom: initial;
    right: initial;
    width: auto;
    font-size: inherit;
    line-height: inherit;
    box-shadow:none;
}

*.tooltip-left[data-tooltip]::after {
    left:initial;
    right:0;
    transform:none;
}
*.tooltip-right[data-tooltip]::after {
    left:0;
    right:initial;
    transform:none;
}

*.tooltip-up[data-tooltip]::before,
*.tooltip-up[data-tooltip]::after,
*.tooltip-up[data-tooltip].on::after,
*.tooltip-up[data-tooltip]:hover::after,
*.tooltip-up[data-tooltip].on:hover::after {
    bottom:100%;
    top:initial;
}

.bar .styled-select {
    top:.2em;
    position:relative;
    margin-left:18px;
}

.styled-select .hidden {
    color:#555;
    background:#ccc;
}

.bottom-bar .styled-select ul.active {
    bottom:100%;
}

.info-box {
    position:fixed;
    top:58px;
    right:0;
    background:#eee;
    z-index:98;
    box-shadow:0 2px 8px 0 rgba(100,100,100,0.5);
    text-align:right;
    display:none;
}

.info-box-view-select li {
     list-style-type: none;
     display: inline-block;
     padding: 8px 12px;
     cursor: pointer;
 }

ul.info-box-view-select {
    display: flex;
    width: 100%;
    background: #555;
    color: #eee;
    justify-content: flex-end;
}

.info-box-view {
    padding: 12px 48px;
}

.info-box-view-select li.active {
    border-bottom: 4px solid #2bf;
    margin-bottom: -4px;
    background: #333;
}

.info-box-toggle svg {
    transform:rotate(90deg);
}

.info-box label {
    vertical-align:top;
    padding:4px 8px;
    margin:4px;
    display:inline-block;
    cursor:auto;
}

.info-box .function-class:not(.show),
.info-box .function-inputs:not(.show),
.info-box .info-box-view:not(.show),
.info-box .type-selection-needed:not(.type-selection-fulfilled),
.fn-defined-only:not(.fn-defined) {
    display:none;
}

.info-box li[rel=".edit-function-view"]:not(.active),
.info-box li[rel=".edit-plot-view"]:not(.active) {
    display:none;
}

.styled-select ul {
    position:absolute;
    right:0;
}
.styled-select ul li {
    white-space:nowrap;
}

.styled-select li[rel="new"] {
    display:none;
}

.align-top {
    vertical-align:top;
}

.evaluate-expression {
    font-family:monospace;
    margin:0 8px;
}

input[type="number"] {
    width:60px;
}

.variable-controls,
.domain-controls,
.plot-tform-controls {
    display:none;
}

.variable-demo {
    color:#aaa;
    padding-left:0;
}

.variable-slider-backwards,
.variable-slider-forwards,
.variable-slider-stop {
    width:32px;
    height:32px;
    position:relative;
}

.variable-slider-backwards::before,
.variable-slider-forwards::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:0;
    height:0;
    margin:auto;
    border:8px solid transparent;
    border-top-width:6px;
    border-bottom-width:6px;
}

.variable-slider-backwards::before {
    border-right-color:#333;
    border-left:0 #333;
}
.variable-slider-forwards::before {
    border-right:0 #333;
    border-left-color:#333;
}

.variable-slider-stop::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:12px;
    height:16px;
    margin:auto;
    border-left:4px solid #333;
    border-right:4px solid #333;
}

.variable-slider-controls {
    text-align:center;
}


.hide {
    display:none;
}

input[type='number'].goto-x-input,
input[type='number'].goto-y-input {
    width:200px;
}

.arrow-down svg {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    transform:rotate(90deg);
}

.tool-select {
    font-size:0;
}
.tool-select label {
    font-size:initial;
}
label.button-like {
    display:inline-block;
    padding:6px 10px;
}

input[type='radio'] + label.icon svg {
    fill:#aaa;

}
input[type='radio']:checked + label.icon svg {
    fill:#2bf;

}

.tool-container {
    z-index:100;
}

.tool-container:not(.measurement) [class^="measurement"] {
    display:none;
}

.measurement-crosshair {
    position:fixed;
    height:16px;
    width:16px;
    pointer-events:none;
    cursor:crosshair;
}

.measurement-crosshair::before,
.measurement-crosshair::after {
    content:"";
    position:fixed;
    width:2px;
    height:2px;
    background:#333;
    pointer-events:none;
    -webkit-transform:translate(-1px, -1px);
    -moz-transform:translate(-1px, -1px);
    -ms-transform:translate(-1px, -1px);
    -o-transform:translate(-1px, -1px);
    transform:translate(-1px, -1px);
}
.measurement-crosshair::before {
    top:0;
    height:100%;
}
.measurement-crosshair::after {
    left:0;
    width:100%;
}


/* ========= */
/*  WINDOWS  */
/* ========= */
.window {
    position:fixed;
    background:#eee;
    border:1px solid #555;
    min-width:200px;
    min-height:120px;
}
.window::before {
    content:"";
    position:fixed;
    background:transparent;
    border:1px solid rgba(0, 179, 255, 0);
}
.window.max-ready::before {
    top:14px;
    bottom:14px;
    left:14px;
    right:14px;
    transition:0.5s all;
    background:rgba(0, 179, 255, 0.3);
    border-color:rgba(0, 179, 255, 0.5);
}
.window.maximised {
    top:0 !important;
    left:0 !important;
    width:100% !important;
    height:100% !important;
    max-width:100% !important;
    max-height:100% !important;
}
.window.minimised {
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    transform:scale(0);
}
.window.closing {
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    transform:scale(0.6);
    opacity:0;
}
.window-header {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:38px;
    line-height:38px;
    background:#444;
    box-shadow:inset 8px 8px 8px -8px #333;
    cursor:-webkit-grab;
    cursor:grab;
    -webkit-user-select:none;
    user-select:none;
    white-space:nowrap;
}
.window-header.mac-style::before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    width:32px;
    background:linear-gradient(-90deg, #444, #444 20%, transparent);
}
.window-header:active {
    cursor:-webkit-grabbing;
    cursor:grabbing;
}
.window.moving .window-header:active::after,
.window.resizing .window-resizer:active::after {
    content:"";
    position:absolute;
    top:-1024px;
    left:-1024px;
    right:-1024px;
    bottom:-1024px;
    z-index:9999;
}
.window-icon {
    float:left;
    height:100%;
    padding:8px;
}
.window-header.mac-style .window-icon {
    display:none;
}
.window-header-buttons {
    display:inline-block;
    color:#eee;
    font-size:0;
    height:100%;
    float:left;
    position:absolute;
    left:0;
    top:0;
    background:#444;
    box-shadow:inset -8px 8px 8px -8px #333;
}
.window-header:not(.mac-style) .window-header-buttons {
    float:right;
    left:initial;
    right:0;
}
.window-header-buttons::before {
    content:"";
    position:absolute;
    right:-32px;
    top:0;
    bottom:0;
    width:32px;
    background:linear-gradient(90deg, #444, #444 20%, transparent);
}
.window-header:not(.mac-style) .window-header-buttons::before {
    right:initial;
    left:-32px;
    background:linear-gradient(-90deg, #444, #444 20%, transparent);
}
.window-header-buttons div {
    display:inline-block;
    font-size:20px;
    padding:0 8px;
    height:100%;
    width:38px;
    text-align:center;
    background:inherit;
    position:relative;
    float:left;
    cursor:pointer;
}
.window-header-buttons div:hover {
    background:#07c;
}
.window-header-buttons div::before,
.window-header-buttons div::after {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background:#eee;
}
div.window-header-close {
    background:#a00;
}
div.window-header-close:hover {
    background:#d00;
}
.window-header:not(.mac-style) div.window-header-close {
    float:right;
}
.window-header-close::before,
.window-header-close::after {
    content:" ";
    width:50%;
    height:5%;
}
.window-header-close::before {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}
.window-header-close::after {
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.window-header-minimise::before {
    content:" ";
    width:50%;
    height:5%;
}
.window div.window-header-maximise::before,
.window div.window-header-maximise::after {
    content:" ";
    width:30%;
    height:30%;
    background:inherit;
    border:2px solid #eee;
}
div.window.maximised div.window-header-maximise::before {
    width:25%;
    height:25%;
    margin-bottom:40%;
    margin-right:40%;
}
div.window.maximised div.window-header-maximise::after {
    width:25%;
    height:25%;
    margin-top:40%;
    margin-left:40%;
}

.window-title {
    font-size:20px;
    font-family:"Raleway", "Helvetica", sans-serif;
    padding:0;
    padding-left:32px;
    display:block;
    margin:0;
    color:#eee;
    text-shadow:0 0 4px #000;
    overflow:hidden;
    display:block;
    height:100%;
    margin-bottom:0;
}
.window-title * {
    margin-bottom:0;
}
.window-header.mac-style .window-title {
    padding-left:152px;
}
.window-content {
    position:absolute;
    top:38px;
    left:0;
    right:0;
    bottom:0;
}
.window-body {
    padding:18px 24px;
    overflow:auto;
    width:100%;
    height:100%;
}

.window-body::-webkit-scrollbar-track {
    margin-bottom:16px;
}

.window .window-resizer {
    position:absolute;
    bottom:0;
    right:0;
    width:16px;
    height:16px;
    background:url(../../res/jswm-resizer.png);
    cursor:se-resize;
}