.toolbox {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:128px;
    overflow:auto;
    background:#eee;
}
.top-bar {
    position:absolute;
    left:128px;
    top:0;
    right:0;
    height:52px;
    background:#ddd;
}

.atom>circle {
    fill:#eee;
    stroke:#ccc;
    stroke-width:4;
}
.atom-h>circle {
    fill:#d2d2d2;
    stroke:#c2c2c2;
    stroke-width:2;
    font-size:12px;
}
.atom-c>circle {
    fill:#333;
    stroke:#555;
}

.atom>text {
    fill:#333;
    text-anchor:middle;
    dominant-baseline:central;
}
.atom-h>text {
    font-size:12px;
}
.atom-c>text {
    fill:#eee;
}